.fill-height {
    height: 100%;
    margin-bottom: 10px;
}

.icon-small {
    height: 2rem;
    width: 2rem;
}

.to-bottom {
    position: relative;
    bottom: 10px;
}

.sharp {
    border-radius: 0px;
}

.clear {
    background-color: transparent;
    border-style: none;
}

div.collapse {
    transition: all 0.35s;
    display: inline-flex;
}

div.collapsing {
    display: inline-flex;
}

.inline {
    display: inline-flex;
}



body {
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(0deg, rgba(0, 6, 43, 0.534) 0%, rgba(88, 99, 255, 0.2) 100%);
    transition: all 2s;
    color: rgb(196, 227, 255);
    padding-right: 0px !important;

    /* overflow: hidden; */

}